<p style="color: green"><%= notice %></p>

<%if current_user != nil %>
  Logged in as: <%=current_user.login%>
  <%= button_to "Logout", logout_path, method: :delete %>
<%end%>

<div id="videos">
  <% @videos.each do |video| %>
    <% render video %>
    <%= link_to image_tag(video.video.preview(resize_to_limit: [300, 170]).processed ), video %>
    <%= video.title%>
  <% end %>
</div>
