<p style="color: green"><%= notice %></p>

<%= render @video %>

<%= video_tag url_for(@video.video), controls: true %>

<div>
<%if current_user.has_role? :admin%>
    <%= link_to "Edit this video", edit_video_path(@video) %> |
    <%= link_to "Back to videos", videos_path %>

    <%= button_to "Destroy this video", @video, method: :delete %>
<%end%>
</div>
