<p style="color: green"><%= notice %></p>

<%= render @video %>

<%if current_user == nil %>
    <%= video_tag url_for(@video.video), controls: true %>  

<%elsif current_user.has_role? :newuser %>
    <%= video_tag url_for(@video.video), controls: true %>

<%elsif current_user.has_role? :admin %>
    <%= video_tag url_for(@video.video), controls: true %>
    <%= link_to "Update", edit_video_path(@video) %>
    <%= button_to "Delete", @video, method: :delete %> 
<%end%>

